{% extends 'dashboard/base.html' %}

{% block title %} 
    Detail Moto Volée 
{% endblock %}



{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="d-table-cell align-middle">
                    <div class="text-center mt-4">
                        <h1 class="h2">DETAIL MOTO VOLEE 
                            {% if moto.moto.proprietaire == request.user %}
                            <a href="#" class="btn btn-primary">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a href="#" class="btn btn-danger">
                                <i class="fas fa-trash-alt"></i> 
                            </a>
                        {% endif %}
                        </h1>
                        <p class="lead">Détail moto sur NKAMOTO</p>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <h2><u>Matricule:</u>  <strong class="text-success">{{ moto.moto.numero_matricule|upper }}</strong></h2>
                           
                        </div>

                        <div class="col-md-6">
                            <h2><u>Type:</u> {{ moto.moto.type_moto|upper }}</h2>
                            
                           
                        </div>
                    </div>
                    <p class="text-center"><b>Description</b>: {{ moto.commentaire }}</p>

                    <section id="portfolio" class="portfolio">
                        <div class="container">
                            <div class="section-title">
                                <h2>Images</h2>
                                <p></p>
                            </div>
                            <div class="row portfolio-container">
                                {% for pic in moto.moto.get_list_image_of_moto %}
                                    <div class="col-lg-4 col-md-3 portfolio-item filter-app">
                                        <img src="{{ pic.image.url }}" class="img-fluid" alt="">
                                        <div class="portfolio-info">
                                            <a href="{{ pic.image.url }}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title=""><i class="bx bx-plus"></i></a>
                                            <a href="#" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                                        </div>
                                    </div>
                                {% empty %}
                                    <p class="text-center">Pas d'image</p>
                                {% endfor %}
                            </div>
                        </div>
                    </section>

                        <div class="row">
                            <div class="col-md-6">
                                <h6><u>Informations du Commissariat</u></h6>
                                <p><strong>Nom:</strong> {{ moto.commisariat.nom_commissariat }}</p>
                                <p><strong>Adresse:</strong> {{ moto.commisariat.adresse_commissariat }}</p>
                                <p><strong>Téléphone:</strong> {{ moto.commisariat.telephone_commissariat }}</p>
                                <p><strong>Email:</strong> {{ moto.commisariat.email_commissariat }}</p>
                                <p><strong>Ville:</strong> {{ moto.commisariat.ville_commissariat }}</p>
                                <p><strong>Responsable:</strong> {{ moto.commisariat.responsable_commissariat.username }}</p>
                            </div>
                            <div class="col-md-6">
                                <h6><u>Informations du Propriétaire</u></h6>
                                <p><strong>Nom:</strong> {{ moto.moto.proprietaire.username }}</p>
                                <p><strong>Téléphone:</strong> {{ moto.moto.proprietaire.profile.telephone }}</p>
                                <p><strong>Email:</strong> {{ moto.moto.proprietaire.profile.email }}</p>
                                <p><strong>Adresse:</strong> {{ moto.moto.proprietaire.profile.adresse }}</p>
                                <p><strong>Ville:</strong> {{ moto.moto.proprietaire.profile.ville }}</p>
                                <p><strong>Quartier:</strong> {{ moto.moto.proprietaire.profile.quartier }}</p>
                            </div>
                        </div>
                        
            </div>
        </div>
    </div>

    
</div>
{% endblock %}
