{% extends 'dashboard/base.html' %}
{% block title %} creation {% endblock %}

{% block content %}


<div class='container'>
    
<div class="text-center mt-4">
    <h1 class="h2">DECLARATION VOLE</h1>
    <p class="lead">
        Declarer le vol de votre vehicule sur NKAMOTO
    </p>
</div>

                    



<form method="post">
    {% csrf_token %}
    
    <div class="form-group">
        <label for="moto">Choisissez la moto volee :</label>
        <select class="form-control" id="moto" name="moto">
            <option> Choisissez une moto </option>
            {% for moto in motos %}
                <option value="{{ moto.id }}">{{ moto.numero_matricule }}-{{moto.type_moto}}</option>
            {% endfor %}
            
        </select>
    </div>

    <div class="form-group">
        <label for="date_vol">Date du Vol :</label>
        <input type="date" class="form-control" id="date_vol" name="date_vol">
    </div>

    <div class="form-group">
        <label for="quartier">Quartier :</label>
        <input type="text" class="form-control" id="quartier" name="quartier">
    </div>

    <div class="form-group">
        <label for="commentaire">Commentaire :</label>
        <textarea class="form-control" id="commentaire" name="commentaire" rows="4"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Déclarer le Vol</button>
</form>


 



</div>


{% endblock %}