<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>

  {% include 'dashboard/include/meta.html' %} 

  {% block header %} {% endblock header %}

</head>


<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">


        {% include 'dashboard/include/sidebar.html' %}

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

              

                {% include 'dashboard/include/header.html' %}
                {% if messages %}
                {% for message in messages %}
                    <div class="container-fluid p-0">
                        <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="True">&times;</span>
                            </button>
                            {{ message|safe }}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}


                {% block content %}

                {% endblock %}



            </div>    



        </div>


    </div>
    
    {% include 'dashboard/include/footer.html' %} 

    {% block js %} {% endblock %}

</body>  



